<% layout('layout') -%>

<div class="container wishlist-container">
  <h2>Your Wishlist</h2>

  <% if (wishlistItems.length === 0) { %>
  <div class="empty-wishlist">
    <p>Your wishlist is empty.</p>
  </div>
  <% } else { %>
  <div class="row">
    <% wishlistItems.forEach(product => { %>
    <div class="col-12 col-sm-6 col-lg-3 mb-4">
      <div class="card wishlist-card h-100">
        <img
          src="<%= product.images[0].url%>"
          class="card-img-top"
          alt="<%= product.name %>"
        />
        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <p class="card-text">₹<%= product.price %></p>
          <div class="d-flex justify-content-end">
  <form action="/remove/<%= product._id %>" method="POST">
    <button type="submit" class="btn btn-outline-danger">
      <i class="fas fa-heart-broken"></i> Remove
    </button>
  </form>
</div>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
  <% } %>
</div>